.editorHeader {
  height: 54px;
  background-color: #961a2b;
  position: fixed;
  text-align: left;
  width: 100%;
}

.editorHeader.inActive {
  display: none;
}

.editorHeader #pageLogo,
.editorHeader #headerButtons,
.editorHeader #menuTitle,
.editorHeader #printButton,
.editorHeader #downloadButton {
  display: inline-block;
  color: white;
}

.editorHeader #pageLogo {
  height: 54px;
  font-size: 15pt;
  line-height: 54px;
  padding-right: 10%;
  margin-left: 20px;
}

.editorHeader #headerButtons p,
.editorHeader #headerButtons > .dropdown .text {
  display: inline-block;
  margin: 0 10px;
  height: 54px;
  line-height: 54px;
  font-size: 12pt;
  position: relative;
}

.editorHeader #headerButtons > div {
  display: inline-block;
  margin: 0 10px;
  height: 54px;
  position: relative;
}

.editorHeader #headerButtons > .dropdown i {
  display: none;
}

.editorHeader #headerButtons .dropdown.active {
  width: 54px;
  text-align: center;
  background-color: #8a1828;
}

.editorHeader #headerButtons .dropdown {
  width: 54px;
  text-align: center;
}

.editorHeader #headerButtons #undoButton p,
.editorHeader #headerButtons #redoButton p {
  padding-left: 15px;
}

.editorHeader #headerButtons div img {
  height: 20px;
  position: absolute;
  margin-top: -13px;
  top: 50%;
}

.editorHeader #menuTitle {
  margin-left: 15%;
  font-size: 12pt;
}

.editorHeader #downloadButton {
  position: absolute;
  right: 20px;
  height: 40px;
  line-height: 20px;
  padding: 10px 30px;
  font-size: 12pt;
  border: 1px solid white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  top: 50%;
  margin-top: -20px;
}

.editorHeader #printButton {
  position: absolute;
  right: 160px;
  height: 40px;
  line-height: 20px;
  padding: 10px 30px;
  font-size: 12pt;
  top: 50%;
  margin-top: -20px;
}

.editorHeader .dropdown .menu {
  border: none;
  margin-top: -1px;
}

.editorHeader #headerButtons .dropdown .item {
  background-color: #8a1828;
  height: 45px;
  width: 280px;
  line-height: 45px;
  color: white;
  padding: 0px !important;
  border-bottom: 1px solid gray;
}

.editorHeader #headerButtons .dropdown .item:hover {
  background-color: #a41e30;
}

.editorHeader #headerButtons .dropdown .item span {
  height: 100%;
  line-height: 45px;
}
