.body {
  margin: 50px 0 50px 0;
  position: relative;
}
.enterPage {
  width: 600px;
  height: 700px;
  padding: 0 100px 0 100px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px rgb(139, 139, 139);
  -moz-box-shadow: 0 0 5px rgb(139, 139, 139);
  box-shadow: 0 0 5px rgb(139, 139, 139);
}
.enterPage #title {
  padding-top: 30px;
  font-size: 24px;
  color: #0d0f15;
  letter-spacing: 0;
  text-align: center;
}

.menuName {
  background: #f8f8f8;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 44px;
}
.label,
.labelType,
.labelItemSet,
.labelFormat {
  margin-top: 40px;
  padding: 9px;
  font-family: Helvetica;
  font-size: 15px;
  color: #0d0f15;
  letter-spacing: 0;
  text-align: center;
  font-weight: 550;
}
.labelType {
  margin-top: 33px;
}
.labelItemSet,
.labelFormat {
  margin-top: 20px;
}

.enterPage #button-group {
  padding-bottom: 15px;
}
.enterPage #next {
  margin-top: 50px;
  width: 100%;
  background-color: #f56d3e;
  color: white;
}
.enterPage #next:hover {
  background-color: rgb(255, 175, 56);
  color: white;
}
.enterPage #dropdown {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 0px;
  text-align: center;
  height: 44px;
  background: #f8f8f8;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

#mainAppArea
  > div.containerPage.body
  > div
  > form
  > div.field.menuName
  > div
  > input[type="text"] {
  background: #f8f8f8;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 400px;
  height: 44px;
  text-align: center;
}
.divider {
  position: absolute;
  width: 540px;
  left: 50%;
  margin: 10px 0 10px 0 !important;
  margin-left: -270px !important;
}
.ui.inverted.orange.button,
.ui.inverted.orange.buttons.button,
.ui.inverted.orange.active.button,
.ui.inverted.orange.buttons .active.button,
.ui.inverted.orange.button:hover,
.ui.inverted.orange.buttons .button:hover {
  background: #f56d3e;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
.ui.dropdown .menu > .item {
  text-align: center;
}
#dropdown > div.text {
  padding-top: 3px;
  padding-left: 14px;
  font-family: Helvetica;
  font-size: 14px;
  color: #0d0f15;
  letter-spacing: 0;
  text-align: center;
}
#dropdown > i {
  display: none;
}
#mainAppArea > div.containerPage.body > div > form > div:nth-child(9) > img,
#mainAppArea > div.containerPage.body > div > form > div:nth-child(14) > img {
  position: absolute;
  left: 50%;
  margin: 16px 0 0 180px;
}
