.menuTemplatePage {
  text-align: center;
}

.menuTemplatePage #templateContainer {
  width: 780px;
  margin: auto;
  margin-top: 30px;
  border: none;
  max-height: 85vh;
}

.menuTemplatePage #templateContainer .header {
  height: 70px;
  position: relative;
  text-align: center;
}

.menuTemplatePage #templateContainer .header p {
  display: inline-block;
  position: absolute;
  height: 70px;
  line-height: 70px;
}

.menuTemplatePage #templateContainer .header p#changeFormatButton {
  font-size: 10pt;
  text-decoration: underline;
  left: 20px;
}

.menuTemplatePage #templateContainer .header p#pageTitle {
  font-size: 15pt;
  position: static;
}

.menuTemplatePage #templateContainer .header p#formatInfo {
  right: 20px;
  font-size: 10pt;
  color: #0000007d;
}

.menuTemplatePage #templateContainer .content {
  border: none;
  overflow-y: auto;
  text-align: left;
}

.menuTemplatePage #templateContainer .content .templateItem {
  margin: 10px 10px;
  width: 165px;
  height: 275px;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: top;
}

.menuTemplatePage #templateContainer .content .templateItem:hover img {
  border: 2px solid #47ccff;
}

.menuTemplatePage #templateContainer .content .templateItem img {
  width: 165px;
  height: 230px;
  object-fit: cover;
}

.menuTemplatePage #templateContainer .content .templateItem p {
  width: 100px;
  text-align: center;
  margin: auto;
  padding-top: 5px;
  font-size: 12pt;
}

.menuTemplatePage #templateContainer .content #bottomLayer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7973564425770308) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
}
