.pageHeader {
  height: 70px;
  background-color: #961a2b;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
}

.pageHeader.inActive {
  display: none;
}

.pageHeader #backButton {
  height: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  float: left;
  left: 0;
}

.pageHeader #backButton,
.pageHeader #helpButton,
.pageHeader .pageTitle {
  display: inline-block;
  color: white;
}

.pageHeader #backButton img {
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 10px;
}

.pageHeader #backButton p {
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 15pt;
  left: 40px;
  line-height: 1.65em;
}

.pageHeader #helpButton {
  height: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  float: left;
  right: 0;
}

.pageHeader #helpButton img {
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 70px;
}

.pageHeader #helpButton p {
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 15pt;
  right: 20px;
  line-height: 1.65em;
}

.pageHeader .pageTitle {
  height: 70px;
  line-height: 70px;
  font-size: 15pt;
  color: white;
  font-weight: 600;
}
