.backgroundToolbar {
  padding-top: 20px;
}

.backgroundToolbar #toolbarTitle {
  font-size: 15pt;
  color: white;
  padding-left: 20px;
}

.backgroundToolbar #toolbarTitle button {
  width: 140px;
  height: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 10pt;
  border-color: #4c555c;
  background-color: #4c555c4f;
  color: #f4f8ff;
  position: relative;
  top: -3px;
  left: 7px;
}

.backgroundToolbar #toolbarTitle button:hover {
  background-color: #c8e0f34f;
}

.backgroundToolbar .toolbarSection .backgroundContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms;
}

.backgroundToolbar .toolbarSection .backgroundContent.expanded {
  max-height: 1000px;
  transition: max-height 200ms;
}

.backgroundToolbar .toolbarSection {
  color: #f4f8ff;
  font-size: 12pt;
}

.backgroundToolbar .backgroundTitle.active {
  background-color: #39404c;
}

.backgroundToolbar .toolbarSection .backgroundTitle {
  height: 50px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid grey;
  padding-left: 20px;
}

.backgroundToolbar .toolbarSection .backgroundTitle img,
.backgroundToolbar .toolbarSection .backgroundTitle p {
  display: inline-block;
  vertical-align: top;
}

.backgroundToolbar .toolbarSection .backgroundTitle .expandIcon {
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}

.backgroundToolbar .toolbarSection .backgroundTitle .expandIcon.inActive {
  display: none;
}

.backgroundToolbar .toolbarSection .backgroundTitle p {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

.backgroundToolbar .toolbarSection .backgroundContent > div > p,
.backgroundToolbar .toolbarSection .backgroundContent > div .searchControl p {
  margin-bottom: 0px;
  height: 45px;
  line-height: 60px;
  color: #8b8f96;
  padding-left: 20px;
}

.backgroundToolbar #mainBackgroundSearch {
  height: 70px;
  border-bottom: 1px solid #4c555c;
  margin-bottom: 20px;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  > div
  .searchControl
  input,
.backgroundToolbar #mainBackgroundSearch input {
  margin-left: 20px;
  margin-top: 5px;
  width: -webkit-fill-available;
  padding-left: 35px;
  background-color: #4c555c4f;
  height: 45px;
  border-color: #4c555c;
  color: #96999d;
}
.backgroundToolbar
  .toolbarSection
  .backgroundContent
  > div
  .searchControl
  .input
  i,
.backgroundToolbar #mainBackgroundSearch .input i {
  margin-right: 10px;
  position: absolute;
  height: 14px;
  top: 50%;
  margin-top: -5px;
  left: 17px;
  color: #96999d;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  > div
  .searchControl
  .input
  input,
.backgroundToolbar #mainBackgroundSearch .input input {
  width: 288px;
  font-size: 12pt;
}

.backgroundToolbar .toolbarSection .backgroundContent .menuOptions {
  padding-left: 20px;
}
.backgroundToolbar .toolbarSection .backgroundContent .menuOptions > div {
  display: inline-block;
  position: relative;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  .menuOptions
  .sectionColumnsItem {
  width: 68px;
  height: 68px;
  margin-right: 5px;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  .menuOptions
  .sectionColumnsItem:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.backgroundToolbar
  .toolbarSection
  .backgroundContent
  .menuOptions
  > div
  .activeItemCover {
  display: none;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  .menuOptions
  > div.active
  .activeItemCover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #f56d3ec2;
  width: 68px;
  height: 68px;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  .menuOptions
  > div.active
  .activeItemCover
  > div {
  height: 15px !important;
  position: absolute;
  /* margin: auto; */
  top: 50%;
  margin-top: -7px;
  height: 100%;
  text-align: center;
  width: 100%;
}

.backgroundToolbar .toolbarSection .backgroundContent #imageUpload {
  padding-left: 20px;
  padding-bottom: 20px;
}

.backgroundToolbar .toolbarSection .backgroundContent #imageUpload button {
  width: 284px;
  height: 45px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #4c555c4f;
  border-color: #4c555c;
  color: #f4f8ff;
  font-size: 12pt;
  margin-top: 10px;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  #imageUpload
  button:hover {
  background-color: #9daab54f;
}

.backgroundToolbar .toolbarSection .backgroundContent #imageUpload input {
  display: none;
}

.backgroundToolbar .toolbarSection .backgroundContent #colorPalette {
  padding-left: 20px;
  position: relative;
  overflow: visible;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  #colorPalette
  .colorPickerButton {
  background-color: #4c555c;
  position: relative;
  text-align: center;
  padding-left: -5px;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  #colorPalette
  .colorPickerButton
  > div {
  position: absolute;
  position: absolute;
  height: 15px;
  top: 50%;
  margin-top: -7px;
  width: 100%;
  text-align: center;
}

.backgroundToolbar .toolbarSection .backgroundContent #colorPalette .colorItem {
  height: 44px;
  width: 44px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
  vertical-align: top;
  margin-bottom: 5px;
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  #colorPalette
  .colorItem:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
}

.backgroundToolbar
  .toolbarSection
  .backgroundContent
  #colorPalette
  .chrome-picker {
  width: 289px !important;
  position: absolute;
  z-index: 100;
  top: 48px;
}
