.editorPage {
  overflow: hidden;
  position: relative;
  z-index: -1;
  background-color: #f8f8f8;
  position: relative;
}

.editorPage #sectionToolbar {
  overflow: hidden;
  left: 80px;
  float: left;
  height: 100%;
}

.editorPage .toolbar {
  width: 324px;
  height: -webkit-fill-available;
  background-color: #21252d;
  overflow-y: auto;
  padding-bottom: 20px;
  height: 100%;
}

.editorPage .toolbar.inActive {
  display: none;
}

.editorPage #mainArea {
  overflow: hidden;
  height: -webkit-fill-available;
}

.editorPage #mainArea #mainAreaMenuBar {
  height: 50px;
}

.editorPage #mainArea #mainAreaContainer {
  height: -webkit-fill-available;
  text-align: center;
}
