.elementsToolbar {
  padding-top: 20px;
}

.elementsToolbar #toolbarTitle {
  font-size: 15pt;
  color: white;
  padding-left: 20px;
  letter-spacing: 2px;
}

.elementsToolbar .toolbarSection .elementsContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms;
}

.elementsToolbar .toolbarSection .elementsContent.expanded {
  max-height: 1000px;
  transition: max-height 200ms;
}

.elementsToolbar .toolbarSection {
  color: #f4f8ff;
  font-size: 12pt;
}

.elementsToolbar .elementsTitle.active {
  background-color: #39404c;
}

.elementsToolbar .toolbarSection .elementsTitle {
  height: 50px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid grey;
  padding-left: 20px;
}

.elementsToolbar .toolbarSection .elementsTitle img,
.elementsToolbar .toolbarSection .elementsTitle p {
  display: inline-block;
  vertical-align: top;
}

.elementsToolbar .toolbarSection .elementsTitle .expandIcon {
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}

.elementsToolbar .toolbarSection .elementsTitle .expandIcon.inActive {
  display: none;
}

.elementsToolbar .toolbarSection .elementsTitle p {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

.elementsToolbar .toolbarSection .elementsContent > div > p,
.elementsToolbar .toolbarSection .elementsContent > div .illustrationSearch p {
  margin-bottom: 0px;
  height: 45px;
  line-height: 60px;
  color: #8b8f96;
  padding-left: 20px;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  > div
  .illustrationSearch
  input {
  margin-left: 20px;
  margin-top: 5px;
  width: -webkit-fill-available;
  padding-left: 35px;
  background-color: #4c555c4f;
  height: 45px;
  border-color: #4c555c;
  color: #96999d;
}
.elementsToolbar
  .toolbarSection
  .elementsContent
  > div
  .illustrationSearch
  .input
  i {
  margin-right: 10px;
  position: absolute;
  height: 14px;
  top: 50%;
  margin-top: -5px;
  left: 17px;
  color: #96999d;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  > div
  .illustrationSearch
  .input
  input {
  width: 288px;
}

.elementsToolbar .toolbarSection .elementsContent .menuOptions {
  padding-left: 20px;
}

.elementsToolbar .toolbarSection .elementsContent .menuOptions > div {
  width: 68px;
  height: 68px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #74777a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions
  .sectionColumnsItem {
  width: 45px;
  height: 45px;
  margin: auto;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  left: 50%;
  margin-left: -22px;
}

.elementsToolbar .toolbarSection .elementsContent .menuOptions > div:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.elementsToolbar .toolbarSection .elementsContent .menuOptions .highlightItem {
  width: 68px;
  height: 68px;
  display: inline-block;
  margin-right: 5px;
  background-color: #74777a;
  text-align: center;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions
  .highlightItem:hover,
.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions
  .highlightItem.active {
  background-color: #21252d;
  border: 2px solid #f56d3e;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions
  .highlightItem
  img {
  height: 4px;
  position: absolute;
  top: 50%;
  margin: auto;
  margin-top: -2px;
  left: 0;
  right: 0;
}

.elementsToolbar .toolbarSection .elementsContent .menuOptions.priceStyle {
  padding-left: 20px;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions.priceStyle
  .menuItem {
  margin-top: 20px;
  overflow: hidden;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions.menuOptions.priceStyle
  .menuItem
  img {
  float: left;
  margin-right: 10px;
  height: 68px;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions.menuOptions.priceStyle
  .menuItem
  p {
  height: 68px;
  line-height: 68px;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions.menuOptions.priceStyle
  button {
  width: 284px;
  margin: auto;
  margin-top: 20px;
  height: 30px;
  background-color: #4c555c4f;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 12pt;
  color: #f4f8ff;
  border-color: #4c555c;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions.menuOptions.priceStyle
  button:hover {
  background-color: #b8d2e64f;
}

.elementsToolbar
  .toolbarSection
  .elementsContent
  .menuOptions.menuOptions.priceStyle
  .menuItem:hover
  img {
  outline: 2px solid #f56d3e;
  outline-offset: -2px;
}
