.formatToolbar {
  padding-top: 20px;
}

.formatToolbar #toolbarTitle {
  font-size: 15pt;
  color: white;
  padding-left: 20px;
  letter-spacing: 2px;
}

.formatToolbar .toolbarSection .formatContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms;
}

.formatToolbar .toolbarSection .formatContent.expanded {
  max-height: 1000px;
  transition: max-height 200ms;
}

.formatToolbar .toolbarSection {
  color: #f4f8ff;
  font-size: 12pt;
}

.formatToolbar .formatTitle.active {
  background-color: #39404c;
}

.formatToolbar .toolbarSection .formatTitle {
  height: 50px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid grey;
  padding-left: 20px;
}

.formatToolbar .toolbarSection .formatTitle img,
.formatToolbar .toolbarSection .formatTitle p {
  display: inline-block;
  vertical-align: top;
}

.formatToolbar .toolbarSection .formatTitle .expandIcon {
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}

.formatToolbar .toolbarSection .formatTitle .expandIcon.inActive {
  display: none;
}

.formatToolbar .toolbarSection .formatTitle p {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

.formatToolbar .toolbarSection .formatContent > div > p {
  margin-bottom: 0px;
  height: 45px;
  line-height: 60px;
  color: #8b8f96;
  padding-left: 20px;
}

.formatToolbar .toolbarSection .formatContent .menuOptions {
  padding-left: 20px;
}

.formatToolbar .toolbarSection .formatContent .menuOptions .sectionColumnsItem {
  width: 68px;
  height: 68px;
  margin-right: 5px;
}

.formatToolbar
  .toolbarSection
  .formatContent
  .menuOptions
  .sectionColumnsItem:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.formatToolbar .toolbarSection .formatContent .menuOptions .highlightItem {
  width: 68px;
  height: 68px;
  display: inline-block;
  margin-right: 5px;
  background-color: #74777a;
  text-align: center;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.formatToolbar .toolbarSection .formatContent .menuOptions .highlightItem:hover,
.formatToolbar
  .toolbarSection
  .formatContent
  .menuOptions
  .highlightItem.active {
  background-color: #21252d;
  border: 2px solid #f56d3e;
}

.formatToolbar .toolbarSection .formatContent .menuOptions .highlightItem img {
  height: 4px;
  position: absolute;
  top: 50%;
  margin: auto;
  margin-top: -2px;
  left: 0;
  right: 0;
}

.formatToolbar .toolbarSection .formatContent .menuOptions.priceStyle {
  padding-left: 20px;
}

.formatToolbar
  .toolbarSection
  .formatContent
  .menuOptions.priceStyle
  .menuItem {
  margin-top: 20px;
  overflow: hidden;
  padding: 2px;
}

.formatToolbar
  .toolbarSection
  .formatContent
  .menuOptions.menuOptions.priceStyle
  .menuItem
  img {
  float: left;
  margin-right: 10px;
  margin-left: 2px;
  height: 68px;
}

.formatToolbar
  .toolbarSection
  .formatContent
  .menuOptions.menuOptions.priceStyle
  .menuItem
  p {
  height: 68px;
  line-height: 68px;
}

.formatToolbar
  .toolbarSection
  .formatContent
  .menuOptions.menuOptions.priceStyle
  button {
  width: 284px;
  margin: auto;
  margin-top: 20px;
  height: 30px;
  background-color: #4c555c4f;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 12pt;
  color: #f4f8ff;
  border-color: #4c555c;
}

.formatToolbar
  .toolbarSection
  .formatContent
  .menuOptions.menuOptions.priceStyle
  button:hover {
  background-color: #b8d2e64f;
}

.formatToolbar
  .toolbarSection
  .formatContent
  .menuOptions.menuOptions.priceStyle
  .menuItem:hover
  img {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
