.groupOrder .groupSection {
  padding-top: 20px;
}
.groupOrder .groupTitle {
  position: relative;
  color: white;
  /* padding-left: 40px; */
  /* border-bottom: 1px solid grey; */
}
.groupOrder .groupTitle p {
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
  margin-bottom: 0 !important;
}
.groupOrder .groupSection .group2Section {
  position: relative;
}
.groupOrder .group2Section {
  width: 100%;
}
.groupOrder .groupContent {
  border-bottom: 1px solid grey;
}
.groupOrder .groupContent .groupCheck {
  display: none;
}
.groupOrder .expandIcon {
  padding-left: 40px;
}
.groupOrder .group2Content,
.groupOrder .group3Content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 200ms;
}
.groupOrder .group2Content.expanded,
.groupOrder .group3Content.expanded {
  max-height: 10000px;
  transition: max-height 200ms;
}
.groupOrder .Checkbox {
  border-bottom: 1px solid grey;
  width: 100%;
}
.groupOrder .checkbox {
  padding-left: 80px;
  height: 50px;
}
.groupOrder .styleTitle2 {
  border-bottom: 1px solid grey;
  padding-left: 20px;
}
.groupOrder .subgroupDesc {
  font-size: 15px;
  color: #8b8f96;
  letter-spacing: 0;
  text-align: left;
  padding: 20px 0 15px 80px;
}
/* .groupOrder .groupTitle.active {
  background: #f56d3e;
} */
