.layoutToolbar {
  padding-top: 20px;
  overflow: auto;
}

.layoutToolbar #toolbarTitle {
  font-size: 15pt;
  color: white;
  padding-left: 20px;
  letter-spacing: 2px;
}

.layoutToolbar #toolbarDescription {
  padding-left: 20px;
  color: #929292;
}

.layoutToolbar .toolbarSection {
  color: #f4f8ff;
  font-size: 12pt;
}

.layoutToolbar .styleTitle.active {
  background-color: #39404c;
}

.layoutToolbar .toolbarSection .styleTitle {
  height: 50px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid grey;
  padding-left: 20px;
}

.layoutToolbar .toolbarSection .styleTitle img,
.layoutToolbar .toolbarSection .styleTitle p {
  display: inline-block;
  vertical-align: top;
}

.layoutToolbar .toolbarSection .styleTitle .expandIcon {
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}

.layoutToolbar .toolbarSection .styleTitle .expandIcon.inActive {
  display: none;
}

.layoutToolbar .toolbarSection .styleTitle p {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

.layoutToolbar .toolbarSection .styleTitle .styleIcon {
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 20px;
  text-align: center;
  width: 50px;
  z-index: 0;
}

.layoutToolbar .toolbarSection .styleTitle .styleIcon img {
  height: 100%;
}

.layoutToolbar .toolbarSection .styleContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms;
}

.layoutToolbar .toolbarSection .styleContent.expanded {
  max-height: 1000px;
  transition: max-height 200ms;
}

.layoutToolbar .toolbarSection .styleContent .layoutStyleItem {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid grey;
  padding-left: 20px;
  position: relative;
}
.layoutToolbar .toolbarSection .styleContent .layoutStyleItem img {
  display: none;
}

.layoutToolbar .toolbarSection .styleContent .layoutStyleItem img.active {
  position: absolute;
  right: 15px;
  display: block;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.layoutToolbar .toolbarSection .styleContent .layoutStyleItem:hover,
.layoutToolbar .toolbarSection .styleContent .layoutStyleItem.active {
  background-color: #f56d3e;
}
