.mainAreaMenuBar {
  height: 45px;
  background: white;
  position: relative;
}

.mainAreaMenuBar .menubarItem {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 50px;
}

.mainAreaMenuBar .menubarItem .itemDivider {
  height: 30px;
  position: absolute;
  width: 1px;
  background: #ecedee;
  top: 50%;
  margin-top: -17px;
  right: 0;
}

.mainAreaMenuBar .menubarItem.opacity .itemDivider {
  left: 280px;
}

.mainAreaMenuBar .menubarItem.flipButton {
  height: 50px;
}

.mainAreaMenuBar .menubarItem.menubarItem.flipButton p {
  height: 50px;
  line-height: 50px;
  font-size: 10pt;
  padding: 0 10px;
}

.mainAreaMenuBar .rc-slider {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50%;
  padding: 0;
  margin-top: -2px;
  margin-left: 20px;
  left: 60px;
}

.mainAreaMenuBar .rc-slider-track {
  background-color: #f56d3e;
}

.mainAreaMenuBar .rc-slider-handle {
  border: none;
  width: 18px;
  height: 18px;
  margin-top: -7px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.mainAreaMenuBar .menubarItem.opacity p {
  font-size: 10pt;
  color: #32383d;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
}

.mainAreaMenuBar .menubarItem.opacity input {
  border: 1px solid #ecedee;
  border-radius: 5px;
  width: 58px;
  height: 26px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 200px;
  text-align: center;
  color: #394146;
  font-size: 10pt;
}

.mainAreaMenuBar .menubarItem.delete {
  position: absolute;
  right: 10px;
  height: 45px;
}

.mainAreaMenuBar .menubarItem.copy {
  position: absolute;
  right: 90px;
  height: 45px;
}

.mainAreaMenuBar .menubarItem.arrange {
  position: absolute;
  right: 180px;
  height: 45px;
}

.mainAreaMenuBar .menubarItem.delete p,
.mainAreaMenuBar .menubarItem.copy p,
.mainAreaMenuBar .menubarItem.arrange p {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  margin-left: 5px;
  font-size: 10pt;
}

.mainAreaMenuBar .menubarItem.copy p,
.mainAreaMenuBar .menubarItem.arrange p {
  padding-right: 20px;
}

.mainAreaMenuBar div.moreItem {
  display: inline-block;
  height: 45px;
  position: absolute;
  left: 330px;
}

.mainAreaMenuBar div.moreItem p {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}

.mainAreaMenuBar div.moreItem .menubarItem.color {
  width: 95px;
}

.mainAreaMenuBar div.moreItem .menubarItem.borderColor {
  width: 135px;
}

.mainAreaMenuBar div.moreItem .menubarItem.color div.colorBox,
.mainAreaMenuBar div.moreItem .menubarItem.borderColor div.colorBox {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 15px;
}

.mainAreaMenuBar div.moreItem .menubarItem.thickness {
  width: 240px;
}

.mainAreaMenuBar div.moreItem .menubarItem.thickness input {
  border: 1px solid #ecedee;
  border-radius: 5px;
  width: 58px;
  height: 26px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 160px;
  text-align: center;
  color: #394146;
  font-size: 10pt;
}
