.mainAreaToolbar {
  width: 40px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.mainAreaToolbar.expanded {
  width: 60px;
}

.mainAreaToolbar img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.mainAreaToolbar.expanded img {
  width: 60px;
  height: 60px;
}

.mainAreaToolbar .toolbarButton {
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: white;
  background-color: #c2c3c5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 13pt;
}

.mainAreaToolbar .toolbarButton:hover {
  background-color: #747577;
}

.mainAreaToolbar .toolbarButton:active {
  background-color: #525252;
}

.mainAreaToolbar #deleteBtn {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.mainAreaToolbar #addBtn {
  position: absolute;
  bottom: 45px;
  left: 0;
}

.mainAreaToolbar.expanded #addBtn {
  bottom: 65px;
}

.mainAreaToolbar #copyBtn {
  position: absolute;
  left: 0;
  bottom: 90px;
}

.mainAreaToolbar.expanded #copyBtn {
  bottom: 130px;
}

.mainAreaToolbar.expanded #zoomOutBtn,
.mainAreaToolbar.expanded #zoomInBtn {
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 17pt;
}

.mainAreaToolbar #previewBtn {
  position: absolute;
  left: 0;
  bottom: 135px;
}

.mainAreaToolbar.expanded #previewBtn {
  bottom: 195px;
}

.mainAreaToolbar #pagination {
  position: absolute;
  height: 200px;
  width: 40px;
  top: 50%;
  margin-top: -100px;
  text-align: left;
}

.mainAreaToolbar.expanded #pagination {
  width: 60px;
}

.mainAreaToolbar #pagination #pageNumber {
  margin: 0px 0 5px 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #32383d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  text-align: center;
}

.mainAreaToolbar.expanded #pagination #pageNumber {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 15pt;
}
