#menuPreviewPageContainer {
  overflow: auto;
  position: relative;
  text-align: left;
}

.menuPreviewPage {
  width: fit-content;
  margin: auto;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  transform-origin: top left;
}

.menuPreviewPage.toolbarExpanded {
}

.menuPreviewPage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menuPreviewPage .menuDesign {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border: 1px solid red;
}

.menuPreviewPage #bookletSeparator {
  height: 100%;
  position: absolute;
  width: 3px;
  left: 50%;
  border-left: 2px dashed grey;
  z-index: 1000;
}

.menuPreviewPage #foldedSeparators .separator {
  height: 100%;
  position: absolute;
  width: 3px;
  left: 33.3%;
  border-left: 2px dashed grey;
  z-index: 1000;
}

.menuPreviewPage #foldedSeparators .separator.second {
  left: 66.7%;
}

.menuPreviewPage .menuElements {
  position: absolute;
}

.menuPreviewPage .menuElements img {
  object-fit: fill;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menuPreviewPage .menuElements.selected {
  outline: 0.5px dotted grey;
}
.menuPreviewPage .menuElements .vertices {
  display: none;
}
.menuPreviewPage .menuElements.selected .vertices {
  width: 8px;
  height: 8px;
  position: absolute;
  display: block;
  border: 1px solid gray;
  background-color: white;
}

.menuPreviewPage .menuElements.selected .vertices:hover {
  background-color: green;
}

.menuPreviewPage .menuElements.selected .vertices.topLeft {
  top: 0;
  left: 0;
  margin-top: -4px;
  margin-left: -4px;
}

.menuPreviewPage .menuElements.selected .vertices.topRight {
  top: 0;
  left: 100%;
  margin-top: -4px;
  margin-left: -4px;
}

.menuPreviewPage .menuElements.selected .vertices.topMiddle {
  top: 0;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}

.menuPreviewPage .menuElements.selected .vertices.middleLeft {
  top: 50%;
  left: 0%;
  margin-top: -4px;
  margin-left: -4px;
}

.menuPreviewPage .menuElements.selected .vertices.middleRight {
  top: 50%;
  left: 100%;
  margin-top: -4px;
  margin-left: -4px;
}

.menuPreviewPage .menuElements.selected .vertices.bottomLeft {
  top: 100%;
  left: 0;
  margin-top: -4px;
  margin-left: -4px;
}

.menuPreviewPage .menuElements.selected .vertices.bottomRight {
  top: 100%;
  left: 100%;
  margin-top: -4px;
  margin-left: -4px;
}

.menuPreviewPage .menuElements.selected .vertices.bottomMiddle {
  top: 100%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}

.menuPreviewPage .menuText {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  columns: 3;
  column-fill: auto;
  z-index: 1000;
}

.menuPreviewPage .menuText .menuSection {
  width: 100%;
}

.menuPreviewPage .menuText .menuSection.selectable:hover,
.menuPreviewPage .menuText .menuSection.selected {
  background: #7b7b7b1f;
}

.menuPreviewPage .menuText .menuSection .menuItem {
  width: 100%;
}
