.pageMargin {
  padding: 10px 0 0 20px;
}
.pageMargin .leftMargin,
.pageMargin .rightMargin,
.pageMargin .centerMargin {
  position: relative;
  padding: 10px 0 0 0;
}

.pageMargin .leftMargin .columnSettingButton,
.pageMargin .rightMargin .columnSettingButton,
.pageMargin .centerMargin .columnSettingButton {
  height: 34px;
  width: 34px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #2e333b;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 164px;
}
.pageMargin .leftMargin .columnSettingButton.minusSign div,
.pageMargin .rightMargin .columnSettingButton.minusSign div,
.pageMargin .centerMargin .columnSettingButton.minusSign div {
  height: 2px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -1px;
}
.pageMargin .leftMargin .columnSettingButton.addSign div,
.pageMargin .rightMargin .columnSettingButton.addSign div,
.pageMargin .centerMargin .columnSettingButton.addSign div {
  height: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -6px;
}
.pageMargin .addSign.columnSettingButton {
  margin-right: -140px;
}
.pageMargin .input {
  width: 80px;
  height: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(76, 85, 92, 0.3);
  border-color: #4c555c;
  border: 1px solid #4c555c;
  margin: 7px 5px 0 5px;
  position: absolute;
  right: 64px;
  text-align: center;
  color: white;
  opacity: 0.5;
}

.pageMargin input[type="number"]::-webkit-inner-spin-button,
.pageMargin input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
