.sectionSidebar {
  width: 80px;
  height: -webkit-fill-available;
  background-color: #0d0f15;
  float: left;
  height: 100%;
}
.sectionSidebar .sectionButton {
  height: 80px;
  width: 80px;
  overflow: hidden;
}

.sectionSidebar .sectionButton.active {
  background-color: #21252d;
}

.sectionSidebar .sectionButton img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.sectionSidebar .sectionButton img.inActive {
  display: none;
}
