.setupToolbar {
  padding-top: 20px;
  overflow: auto;
}
.sectionContent .columnOptions {
  padding: 0 0 5px 20px;
}
.setupToolbar #toolbarTitle {
  font-size: 15pt;
  color: white;
  padding-left: 20px;
  letter-spacing: 2px;
}
.setupToolbar .styleTitles img.inActive {
  display: none;
}
.setupToolbar .styleTitles img {
  display: inline-block;
  vertical-align: top;
}
.setupToolbar .setupStyle .styleTitles .expandIcon {
  position: absolute;
  top: 50%;
  margin-top: -4px;
}
.setupToolbar .styleTitles {
  overflow: hidden;
  position: relative;
}
.setupToolbar .styleTitle {
  /* font-family:.AppleSystemUIFont; */
  font-size: 15px;
  color: #f4f8ff;
  letter-spacing: 0;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  margin-left: 20px;
  position: relative;
}

.setupToolbar .setupSection {
  max-height: 0;
  transition: max-height 200ms;
}

.setupSection.expanded {
  max-height: 10000px;
  transition: max-height 200ms;
}

.setupToolbar .sectionTitle {
  position: relative;
  color: white;
  padding-left: 20px;
  border-bottom: 1px solid grey;
}
.setupToolbar .sectionTitle p {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.setupToolbar .sectionContent .checkbox {
  top: 50%;
  margin-top: -4px;
  padding-left: 40px;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid grey;
}
.setupToolbar label {
  top: 35%;
  color: white !important;
}
.setupToolbar label::before {
  background: rgba(76, 85, 92, 0.3) !important;
  border: 1px solid #4c555c !important;
  border-radius: 3px !important;
  width: 22px !important;
  height: 22px !important;
  margin: -3px -6px -3px 0;
}
.setupToolbar label::after {
  border: 1px solid #ffffff !important;
  border-radius: 3px !important;
  width: 22px !important;
  height: 22px !important;
  margin: -3px -6px -3px 0;
}
.setupToolbar input:checked ~ label:after {
  padding-top: 2px;
  color: white !important;
  width: 10px;
}
.sectionContent #addFront,
.sectionContent #addBack {
  margin-top: 17px;
  background: rgba(76, 85, 92, 0.3);
  border: 1px solid #4c555c;
  border-radius: 100px;
  width: 133px;
  height: 28px;
  color: white;
}
.sectionContent #addFront:hover,
.sectionContent #addBack:hover {
  background-color: #c8e0f34f;
}
/* .sectionContent #addFront:hover,
  .sectionContent #addBack:hover {
    -webkit-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
    box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  } */
.sectionContent #addFront {
  margin-left: 20px;
  margin-right: 18px;
}

.sectionContent #numberDesc {
  font-size: 15px;
  color: #f4f8ff;
  letter-spacing: 0;
  text-align: left;
  padding: 30px 0 0 20px;
}
.sectionContent #numberDesc2 {
  font-size: 15px;
  color: #8b8f96;
  letter-spacing: 0;
  text-align: left;
  padding: 20px 0 15px 20px;
}
.sectionContent #numberCount {
  background: rgba(76, 85, 92, 0.3);
  margin: -45px 0 0 220px;
  border: 1px solid #4c555c;
  padding: 12px 0 0 35px;
  border-radius: 5px;
  width: 78px;
  height: 42px;
  text-align: center;
  opacity: 0.5;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
}
.sectionContent .sectionColumnsItem {
  width: 68px;
  height: 68px;
  margin: 5px 5px 0 0;
}
.sectionContent .sectionColumnsItem:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sectionContent input[type="number"]::-webkit-inner-spin-button,
.sectionContent input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
