.textToolbar {
  padding-top: 20px;
}

.textToolbar #headerButtons {
  width: 288px;
  height: 38px;
  font-size: 10pt;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.textToolbar #headerButtons div {
  width: 98px;
  height: 38px;
  text-align: center;
  position: absolute;
  line-height: 38px;
}

.textToolbar #headerButtons div.active,
.textToolbar #headerButtons div:hover {
  background-color: #f56d3e;
  color: white;
}

.textToolbar #headerButtons div#headers {
  left: 0;
}

.textToolbar #headerButtons div#menuItems {
  left: 96px;
}

.textToolbar #headerButtons div#footers {
  right: 0px;
}

.textToolbar .textSearch p {
  margin-bottom: 0px;
  height: 45px;
  line-height: 60px;
  color: #8b8f96;
  padding-left: 20px;
}

.textToolbar .textSearch input {
  margin-left: 20px;
  margin-top: 5px;
  width: -webkit-fill-available;
  padding-left: 35px;
  background-color: #4c555c4f !important;
  height: 45px;
  border-color: #4c555c !important;
  color: #96999d !important;
  text-align: left !important;
}

.textToolbar .textSearch .input i {
  margin-right: 10px;
  position: absolute;
  height: 14px !important;
  top: 50% !important;
  margin-top: -5px !important;
  left: 17px;
  color: #96999d;
}

.textToolbar .textSearch .input input {
  width: 288px;
}

.textToolbar .textSearch .input input::placeholder {
  text-align: left;
}
.textToolbar #toolbarTitle {
  font-size: 15pt;
  color: white;
  padding-left: 20px;
  margin: 20px 0;
  position: relative;
}

.textToolbar button#addSection {
  width: 98px;
  height: 28px;
  border: 1px solid #4c555c;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: rgba(76, 85, 92, 0.3);
  position: absolute;
  font-size: 10pt;
  color: white;
  right: 20px;
}

.textToolbar button#addSection:hover {
  background-color: rgba(208, 234, 255, 0.3);
}

.textToolbar .menuSection .sectionContent,
.textToolbar .menuSection .sectionContent .menuItem .menuItemContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms;
  background: #39404c;
}

.textToolbar .menuSection .sectionContent.expanded,
.textToolbar .menuSection .sectionContent .menuItem .menuItemContent.expanded {
  max-height: 1000px;
  transition: max-height 200ms;
}

.textToolbar .menuSection {
  color: #f4f8ff;
  font-size: 12pt;
}

.textToolbar .menuTitle.active {
  background-color: #39404c;
}

.textToolbar .menuSection .menuTitle {
  height: 50px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid grey;
  padding-left: 20px;
}

.textToolbar .menuSection .menuTitle img,
.textToolbar .menuSection .menuTitle p {
  display: inline-block;
  vertical-align: top;
}

.textToolbar .menuSection .menuTitle .expandIcon {
  height: 6px;
  position: absolute;
  top: 50%;
  margin-top: -3px;
}

.textToolbar .menuSection .menuTitle .expandIcon.inActive {
  display: none;
}

.textToolbar .menuSection .menuTitle p {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

.textToolbar .menuSection .sectionContent .menuSectionToolbar {
  height: 58px;
  position: relative;
}

.textToolbar .menuSection .sectionContent .menuSectionToolbar button {
  background: #ffffff;
  width: 100px;
  height: 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-size: 10pt;
  position: absolute;
  left: 20px;
  top: 14px;
  color: #202529;
}

.textToolbar .menuSection .sectionContent .menuSectionToolbar button.addNote {
  left: 200px;
}
.textToolbar .menuSection .sectionContent .menuSectionToolbar button:hover {
  background-color: #9a9a9a;
}

.textToolbar
  .menuSection
  .sectionContent
  .menuItem
  > div.menuItemTitle.active
  > p {
  display: none;
}

.textToolbar .menuSection .sectionContent .menuItem .menuItemContent {
  padding-left: 20px;
}

.textToolbar .menuSection .sectionContent .menuItem .menuItemContent textarea {
  margin-top: 10px;
  max-width: 280px;
  background: rgba(32, 37, 41, 0.4);
  border-color: #4c555c !important;
  text-align: left !important;
  padding: 5px;
  color: #ffffff;
}

.textToolbar .menuSection .sectionContent .menuItem .menuItemContent .input {
  width: 100px;
  display: block;
  margin: 10px 0;
}

.textToolbar
  .menuSection
  .sectionContent
  .menuItem
  .menuItemContent
  .input
  input {
  background: rgba(32, 37, 41, 0.4);
  border-color: #4c555c !important;
  text-align: left !important;
  padding: 5px;
  color: #ffffff;
  height: 47px;
}
