.wineOrder {
  padding-left: 20px;
}
.wineOrder #wineOrderStyle > p,
.wineOrder #wineOrderDetails p {
  margin-bottom: 0px;
  height: 45px;
  line-height: 60px;
  color: #8b8f96;
  font-size: 12pt;
}

.wineOrder #wineOrderDetails p#firstColumnTitle {
  height: 40px;
  line-height: 40px;
}

.wineOrder #wineOrderDetails .hidden {
  display: none !important;
}

.wineOrder #wineOrderStyle div.styleOption {
  display: inline-block;
}

.wineOrder #wineOrderStyle div.styleOption img {
  display: none;
  width: 92px;
  height: 68px;
  margin-right: 5px;
}

.wineOrder #wineOrderStyle div.styleOption img.active {
  display: block;
}
.wineOrder #wineOrderStyle div.styleOption img.active.selected {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  box-shadow: 0px 0px 0px 2px rgba(245, 109, 62, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wineOrder #wineOrderDetails .columnDetailsContainer .styleDetail {
  padding: 8px 15px;
  display: inline-block;
  background: #f56d3e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
  font-size: 13px;
  margin-bottom: 5px;
  vertical-align: top;
  transition: width 200ms;
  position: relative;
}

.wineOrder #wineOrderDetails .columnDetailsContainer .styleDetail.dragging {
  width: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transform: scale(1, 0);
  transition: width 200ms;
}

.wineOrder #wineOrderDetails .columnDetailsContainer .styleDetail:hover .last {
  display: none;
}

.wineOrder
  #wineOrderDetails
  .columnDetailsContainer.unselectedColumnDetails
  .styleDetail {
  background: #86878a;
}

.wineOrder #wineOrderDetails .columnDetailsContainer .styleDetail .dropTarget {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
}

.wineOrder
  #wineOrderDetails
  .columnDetailsContainer
  .styleDetail
  .dropTarget.left {
  left: 0;
}

.wineOrder
  #wineOrderDetails
  .columnDetailsContainer
  .styleDetail
  .dropTarget.right {
  right: 0;
}

.wineOrder
  #wineOrderDetails
  .columnDetailsContainer
  .styleDetail
  .dropTarget.last {
  left: 100%;
}

.wineOrder #wineOrderDetails .columnDetailsContainer .blankDropTarget {
  height: 45px;
}

.wineOrder #columnSettingsContainer .columnSettings {
  position: relative;
  height: 45px;
  margin-bottom: 5px;
}

.wineOrder #columnSettingsContainer .columnSettings > div,
.wineOrder #columnSettingsContainer .columnSettings > p,
.wineOrder #columnSettingsContainer .columnSettings > input {
  display: inline-block;
}

.wineOrder #columnSettingsContainer .columnSettings > p {
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  color: #f4f8ff;
}

.wineOrder #columnSettingsContainer .columnSettings > input {
  width: 80px;
  height: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(76, 85, 92, 0.3);
  border-color: #4c555c;
  border: 1px solid #4c555c;
  margin: 0 5px;
  position: absolute;
  right: 64px;
  text-align: center;
  color: white;
  opacity: 0.5;
}

.wineOrder #columnSettingsContainer .columnSettings .columnSettingButton {
  height: 34px;
  width: 34px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #2e333b;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 164px;
}

.wineOrder
  #columnSettingsContainer
  .columnSettings
  .columnSettingButton.addSign {
  right: 20px;
}

.wineOrder #columnSettingsContainer .columnSettings .columnSettingButton:hover {
  background: #818c9e;
}

.wineOrder
  #columnSettingsContainer
  .columnSettings
  .columnSettingButton.columnSettingButton.minusSign
  div {
  height: 2px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -1px;
}
.wineOrder
  #columnSettingsContainer
  .columnSettings
  .columnSettingButton.columnSettingButton.addSign
  div {
  height: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -6px;
}
